Desktop.ini
ipch/
appz/Debug/
nyeh/Debug/
Ivan/Debug/
Greg/Debug/
Darren/Debug/
appz/Release/
nyeh/Release/
Ivan/Release/
Greg/Release/
Darren/Release/
Debug/appz.exe
Debug/scrubs.lib
Debug/appz.ilk
Debug/appz.pdb
Release/appz.exe
Release/scrubs.lib
Release/appz.pdb
*.opensdf
*.sdf
*.suo
*.user
*.log