Desktop.ini
ipch/
appz/Debug/
nyeh/Debug/
Animations/Debug/
AI/Debug/
Events/Debug/
GameObjects/Debug/
Physics/Debug/
appz/Release/
nyeh/Release/
Animations/Release/
AI/Release/
Events/Release/
GameObjects/Release/
Physics/Release/
Debug/appz.exe
Debug/appz.ilk
Debug/appz.pdb
Debug/scrubs.lib
Debug/AI.lib
Debug/Animations.lib
Debug/Events.lib
Debug/GameObjects.lib
Debug/Physics.lib
Release/appz.exe
Release/appz.pdb
Release/scrubs.lib
Release/AI.lib
Release/Animations.lib
Release/Events.lib
Release/GameObjects.lib
Release/Physics.lib
*.opensdf
*.sdf
*.suo
*.user
*.log